# Dependencies
node_modules/

# Build output
dist/

# Environment
.env
.env.dev
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Coverage
coverage/

# Playground
src/playground/*

# Benchmark artifacts
benchmarks/k6/results/*.json
benchmarks/k6/results/*.html
benchmarks/report*html
benchmarks/result*json

.github
